.vscode
node_modules
*.log*
dist
coverage
.profile
.idea
/integrations/nuxt/playground/.nuxt/
samples
.vercel
.env
docs/.nuxt
**/auto-imports.d.ts

.data
.output
.nuxt

.wrangler
.DS_Store
.env.*
!.env.example

# Skilld references (recreated by `skilld install`)
.skilld
